<a href="https://colab.research.google.com/github/kl30822python/AI_MLearning/blob/main/%E8%B3%87%E6%96%99%E9%A0%90%E8%99%95%E7%90%86%EF%BC%9A%E6%A8%99%E6%BA%96%E5%8C%96%E3%80%81%E8%B3%87%E6%96%99%E8%BD%89%E6%8F%9B%E8%88%87%E7%89%B9%E5%BE%B5%E9%81%B8%E6%93%87)_U1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

連接雲端硬碟

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

設定目錄

In [ ]:
#書本範例 folder="/content/drive/MyDrive/資料科學自學聖經/ch06"

In [2]:
from google.colab import drive
folder = '/content/drive/MyDrive/MyPyProj_TeacherChao/P_0425'

# 6.2 數值資料標準化

## 6.2.1 Z 分數標準化：StandardScaler

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

df = pd.read_csv('/content/drive/MyDrive/資料科學自學聖經/ch06/汽車車型資料檔.csv')
df.head(10)

                     名稱  哩/加侖  氣缸    排氣量   馬力    重量  加速時間  年份
0      mercury capri v6  21.0   6  155.0  107  2472  14.0  73
1    chevrolet chevette  30.0   4   98.0   68  2155  16.5  78
2       amc concord d/l  18.1   6  258.0  120  3410  15.1  78
3   ford pinto runabout  21.0   4  122.0   86  2226  16.5  72
4              fiat 128  29.0   4   68.0   49  1867  19.5  73
5      vokswagen rabbit  29.8   4   89.0   62  1845  15.3  80
6  buick lesabre custom  13.0   8  350.0  155  4502  13.5  72
7             maxda rx3  18.0   3   70.0   90  2124  13.5  73
8     honda accord cvcc  31.5   4   98.0   68  2045  18.5  77
9   toyota corolla 1200  31.0   4   71.0   65  1773  19.0  71

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

df = pd.read_csv('/content/drive/MyDrive/資料科學自學聖經/ch06/汽車車型資料檔.csv')
std = StandardScaler()
df1 = df[['哩/加侖','氣缸','排氣量','馬力','重量','加速時間','年份']]
arr = std.fit_transform(df1)
df[['哩/加侖','氣缸','排氣量','馬力','重量','加速時間','年份']] = arr
df

,名稱,哩/加侖,氣缸,排氣量,馬力,重量,加速時間,年份
0,mercury capri v6,-0.329352,0.323847,-0.362123,0.072265,-0.577512,-0.582140,-0.797644
1,chevrolet chevette,0.816162,-0.853777,-0.909344,-0.944800,-0.950017,0.334844,0.551887
2,amc concord d/l,-0.698462,0.323847,0.626714,0.411287,0.524726,-0.178667,0.551887
3,ford pinto runabout,-0.329352,-0.853777,-0.678935,-0.475385,-0.866586,0.334844,-1.067550
4,fiat 128,0.688882,-0.853777,-1.197355,-1.440293,-1.288445,1.435226,-0.797644
...,...,...,...,...,...,...,...,...
375,oldsmobile cutlass salon brougham,-0.469359,1.501470,0.645915,0.150501,0.471847,-0.031950,0.551887
376,mercury lynx l,1.579837,-0.853777,-0.909344,-0.892643,-0.985270,0.628279,1.631513
377,toyota mark ii,-0.583910,0.323847,-0.352523,0.098344,-0.039319,-0.031950,0.012075
378,ford ranger,0.561603,-0.853777,-0.698136,-0.657935,-0.397723,1.105111,1.631513
379,ford thunderbird,-0.965748,1.501470,1.519548,1.167566,1.611688,-0.398744,0.281981

## 6.2.2 最大最小值標準化：MinMaxScaler

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

df = pd.read_csv('/content/drive/MyDrive/資料科學自學聖經/ch06/汽車車型資料檔.csv')
std = MinMaxScaler()
df1 = df[['哩/加侖','氣缸','排氣量','馬力','重量','加速時間','年份']]
arr = std.fit_transform(df1)
df[['哩/加侖','氣缸','排氣量','馬力','重量','加速時間','年份']] = arr
df

,名稱,哩/加侖,氣缸,排氣量,馬力,重量,加速時間,年份
0,mercury capri v6,0.319149,0.6,0.224806,0.331522,0.243550,0.361446,0.250000
1,chevrolet chevette,0.558511,0.2,0.077519,0.119565,0.153672,0.512048,0.666667
2,amc concord d/l,0.242021,0.6,0.490956,0.402174,0.509498,0.427711,0.666667
3,ford pinto runabout,0.319149,0.2,0.139535,0.217391,0.173802,0.512048,0.166667
4,fiat 128,0.531915,0.2,0.000000,0.016304,0.072016,0.692771,0.250000
...,...,...,...,...,...,...,...,...
375,oldsmobile cutlass salon brougham,0.289894,1.0,0.496124,0.347826,0.496739,0.451807,0.666667
376,mercury lynx l,0.718085,0.2,0.077519,0.130435,0.145166,0.560241,1.000000
377,toyota mark ii,0.265957,0.6,0.227390,0.336957,0.373405,0.451807,0.500000
378,ford ranger,0.505319,0.2,0.134367,0.179348,0.286929,0.638554,1.000000
379,ford thunderbird,0.186170,1.0,0.731266,0.559783,0.771761,0.391566,0.583333

## 6.2.3 最大絕對值標準化：MaxAbsScaler

In [ ]:
import pandas as pd
from sklearn.preprocessing import MaxAbsScaler

df = pd.read_csv('/content/drive/MyDrive/資料科學自學聖經/ch06/汽車車型資料檔.csv')
std = MaxAbsScaler()
df1 = df[['哩/加侖','氣缸','排氣量','馬力','重量','加速時間','年份']]
arr = std.fit_transform(df1)
df[['哩/加侖','氣缸','排氣量','馬力','重量','加速時間','年份']] = arr
df

,名稱,哩/加侖,氣缸,排氣量,馬力,重量,加速時間,年份
0,mercury capri v6,0.450644,0.75,0.340659,0.465217,0.480934,0.569106,0.890244
1,chevrolet chevette,0.643777,0.50,0.215385,0.295652,0.419261,0.670732,0.951220
2,amc concord d/l,0.388412,0.75,0.567033,0.521739,0.663424,0.613821,0.951220
3,ford pinto runabout,0.450644,0.50,0.268132,0.373913,0.433074,0.670732,0.878049
4,fiat 128,0.622318,0.50,0.149451,0.213043,0.363230,0.792683,0.890244
...,...,...,...,...,...,...,...,...
375,oldsmobile cutlass salon brougham,0.427039,1.00,0.571429,0.478261,0.654669,0.630081,0.951220
376,mercury lynx l,0.772532,0.50,0.215385,0.304348,0.413424,0.703252,1.000000
377,toyota mark ii,0.407725,0.75,0.342857,0.469565,0.570039,0.630081,0.926829
378,ford ranger,0.600858,0.50,0.263736,0.343478,0.510700,0.756098,1.000000
379,ford thunderbird,0.343348,1.00,0.771429,0.647826,0.843385,0.589431,0.939024

## 6.2.4 RobustScaler 標準化：RobustScaler

In [ ]:
import pandas as pd
from sklearn.preprocessing import RobustScaler

df = pd.read_csv('/content/drive/MyDrive/資料科學自學聖經/ch06/汽車車型資料檔.csv')
std = RobustScaler()
df1 = df[['哩/加侖','氣缸','排氣量','馬力','重量','加速時間','年份']]
arr = std.fit_transform(df1)
df[['哩/加侖','氣缸','排氣量','馬力','重量','加速時間','年份']] = arr
df

,名稱,哩/加侖,氣缸,排氣量,馬力,重量,加速時間,年份
0,mercury capri v6,-0.172043,0.5,0.055385,0.263959,-0.233003,-0.454545,-0.500000
1,chevrolet chevette,0.602151,0.0,-0.295385,-0.527919,-0.461677,0.303030,0.333333
2,amc concord d/l,-0.421505,0.5,0.689231,0.527919,0.443643,-0.121212,0.333333
3,ford pinto runabout,-0.172043,0.0,-0.147692,-0.162437,-0.410460,0.303030,-0.666667
4,fiat 128,0.516129,0.0,-0.480000,-0.913706,-0.669432,1.212121,-0.500000
...,...,...,...,...,...,...,...,...
375,oldsmobile cutlass salon brougham,-0.266667,1.0,0.701538,0.324873,0.411181,0.000000,0.333333
376,mercury lynx l,1.118280,0.0,-0.295385,-0.487310,-0.483318,0.545455,1.000000
377,toyota mark ii,-0.344086,0.5,0.061538,0.284264,0.097385,0.000000,0.000000
378,ford ranger,0.430108,0.0,-0.160000,-0.304569,-0.122633,0.939394,1.000000
379,ford thunderbird,-0.602151,1.0,1.261538,1.116751,1.110911,-0.303030,0.166667

# 6.3 非數值資料轉換

## 6.3.1 對應字典法

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/資料科學自學聖經/ch06/客戶聯絡狀況資料檔.csv')
df['婚姻'].unique()

array(['單身', '已婚', '離婚', '未知'], dtype=object)

In [ ]:
dict1 = {'單身':1, '已婚':2, '離婚':3, '未知':4}
df['婚姻'].replace(dict1, inplace=True)
df

         年齡    工作  婚姻  學歷 聯絡方式  最後聯絡時間  聯絡次數  消費價格指數  消費信心指數  訂購
0      31.0   服務業   1  高中   手機   750.0     2  92.893   -46.2  一次
1      55.0    無業   2  高中   市話   154.0     8  94.465   -41.8  一次
2      27.0    主管   2  專科   手機   466.0     1  92.893   -46.2  頻繁
3      35.0    主管   2  大學   手機   222.0     1  93.075   -47.1  一次
4      29.0    藍領   1  國中   手機    85.0     2  92.893   -46.2  頻繁
...     ...   ...  ..  ..  ...     ...   ...     ...     ...  ..
40995  47.0    主管   2  大學   市話    76.0     1  93.918   -42.7  偶爾
40996  30.0    主管   2  大學   手機   438.0     2  92.469   -33.6  從未
40997  48.0    藍領   2  小學   手機   151.0     1  93.918   -42.7  從未
40998  50.0    經理   2  大學   市話   242.0     2  94.465   -41.8  從未
40999  29.0  自僱人士   1  大學   手機    88.0     1  93.200   -42.0  從未

[41000 rows x 10 columns]

In [ ]:
dict2 = {1:'單身', 2:'已婚', 3:'離婚', 4:'未知'}
df['婚姻'].replace(dict2, inplace=True)
df

         年齡    工作  婚姻  學歷 聯絡方式  最後聯絡時間  聯絡次數  消費價格指數  消費信心指數  訂購
0      31.0   服務業  單身  高中   手機   750.0     2  92.893   -46.2  一次
1      55.0    無業  已婚  高中   市話   154.0     8  94.465   -41.8  一次
2      27.0    主管  已婚  專科   手機   466.0     1  92.893   -46.2  頻繁
3      35.0    主管  已婚  大學   手機   222.0     1  93.075   -47.1  一次
4      29.0    藍領  單身  國中   手機    85.0     2  92.893   -46.2  頻繁
...     ...   ...  ..  ..  ...     ...   ...     ...     ...  ..
40995  47.0    主管  已婚  大學   市話    76.0     1  93.918   -42.7  偶爾
40996  30.0    主管  已婚  大學   手機   438.0     2  92.469   -33.6  從未
40997  48.0    藍領  已婚  小學   手機   151.0     1  93.918   -42.7  從未
40998  50.0    經理  已婚  大學   市話   242.0     2  94.465   -41.8  從未
40999  29.0  自僱人士  單身  大學   手機    88.0     1  93.200   -42.0  從未

[41000 rows x 10 columns]

In [ ]:
df['學歷'].unique()

array(['高中', '專科', '大學', '國中', '小學', '未知', '文盲'], dtype=object)

In [ ]:
dict3 = {'高中':1, '專科':2, '大學':3, '國中':4, '小學':5, '未知':6, '文盲':7}
df['學歷'] = df['學歷'].map(dict3)
df

         年齡    工作  婚姻  學歷 聯絡方式  最後聯絡時間  聯絡次數  消費價格指數  消費信心指數  訂購
0      31.0   服務業  單身   1   手機   750.0     2  92.893   -46.2  一次
1      55.0    無業  已婚   1   市話   154.0     8  94.465   -41.8  一次
2      27.0    主管  已婚   2   手機   466.0     1  92.893   -46.2  頻繁
3      35.0    主管  已婚   3   手機   222.0     1  93.075   -47.1  一次
4      29.0    藍領  單身   4   手機    85.0     2  92.893   -46.2  頻繁
...     ...   ...  ..  ..  ...     ...   ...     ...     ...  ..
40995  47.0    主管  已婚   3   市話    76.0     1  93.918   -42.7  偶爾
40996  30.0    主管  已婚   3   手機   438.0     2  92.469   -33.6  從未
40997  48.0    藍領  已婚   5   手機   151.0     1  93.918   -42.7  從未
40998  50.0    經理  已婚   3   市話   242.0     2  94.465   -41.8  從未
40999  29.0  自僱人士  單身   3   手機    88.0     1  93.200   -42.0  從未

[41000 rows x 10 columns]

## 6.3.2 標籤編碼法

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/資料科學自學聖經/ch06/客戶聯絡狀況資料檔.csv')
#df
df['工作'].unique()

array(['服務業', '無業', '主管', '藍領', '技術員', '經理', '退休', '自僱人士', '企業家', '未知',
       '學生', '家管'], dtype=object)

In [ ]:
from sklearn.preprocessing import LabelEncoder
label1 = LabelEncoder()
df['工作'] = label1.fit_transform(df['工作'])
df

         年齡  工作  婚姻  學歷 聯絡方式  最後聯絡時間  聯絡次數  消費價格指數  消費信心指數  訂購
0      31.0   5  單身  高中   手機   750.0     2  92.893   -46.2  一次
1      55.0   7  已婚  高中   市話   154.0     8  94.465   -41.8  一次
2      27.0   0  已婚  專科   手機   466.0     1  92.893   -46.2  頻繁
3      35.0   0  已婚  大學   手機   222.0     1  93.075   -47.1  一次
4      29.0  10  單身  國中   手機    85.0     2  92.893   -46.2  頻繁
...     ...  ..  ..  ..  ...     ...   ...     ...     ...  ..
40995  47.0   0  已婚  大學   市話    76.0     1  93.918   -42.7  偶爾
40996  30.0   0  已婚  大學   手機   438.0     2  92.469   -33.6  從未
40997  48.0  10  已婚  小學   手機   151.0     1  93.918   -42.7  從未
40998  50.0   8  已婚  大學   市話   242.0     2  94.465   -41.8  從未
40999  29.0   9  單身  大學   手機    88.0     1  93.200   -42.0  從未

[41000 rows x 10 columns]

In [ ]:
label1.classes_

array(['主管', '企業家', '學生', '家管', '技術員', '服務業', '未知', '無業', '經理', '自僱人士',
       '藍領', '退休'], dtype=object)

In [ ]:
df['工作'] = label1.inverse_transform(df['工作'])
df

         年齡    工作  婚姻  學歷 聯絡方式  最後聯絡時間  聯絡次數  消費價格指數  消費信心指數  訂購
0      31.0   服務業  單身  高中   手機   750.0     2  92.893   -46.2  一次
1      55.0    無業  已婚  高中   市話   154.0     8  94.465   -41.8  一次
2      27.0    主管  已婚  專科   手機   466.0     1  92.893   -46.2  頻繁
3      35.0    主管  已婚  大學   手機   222.0     1  93.075   -47.1  一次
4      29.0    藍領  單身  國中   手機    85.0     2  92.893   -46.2  頻繁
...     ...   ...  ..  ..  ...     ...   ...     ...     ...  ..
40995  47.0    主管  已婚  大學   市話    76.0     1  93.918   -42.7  偶爾
40996  30.0    主管  已婚  大學   手機   438.0     2  92.469   -33.6  從未
40997  48.0    藍領  已婚  小學   手機   151.0     1  93.918   -42.7  從未
40998  50.0    經理  已婚  大學   市話   242.0     2  94.465   -41.8  從未
40999  29.0  自僱人士  單身  大學   手機    88.0     1  93.200   -42.0  從未

[41000 rows x 10 columns]

In [ ]:
import numpy as np
cols = df.select_dtypes(exclude=[np.number]).columns
cols

Index(['工作', '婚姻', '學歷', '聯絡方式', '訂購'], dtype='object')

In [ ]:
for i in cols:
  df[i] = label1.fit_transform(df[i])
  print('「{}」特徵對照：'.format(i), end='')
  for j in range(len(label1.classes_)):
    print('{} - {}'.format(j, label1.classes_[j]), end=', ')
  print()
df

「工作」特徵對照：0 - 0, 1 - 1, 2 - 2, 3 - 3, 4 - 4, 5 - 5, 6 - 6, 7 - 7, 8 - 8, 9 - 9, 10 - 10, 11 - 11,
「婚姻」特徵對照：0 - 0, 1 - 1, 2 - 2, 3 - 3,
「學歷」特徵對照：0 - 0, 1 - 1, 2 - 2, 3 - 3, 4 - 4, 5 - 5, 6 - 6,
「聯絡方式」特徵對照：0 - 0, 1 - 1,
「訂購」特徵對照：0 - 0, 1 - 1, 2 - 2, 3 - 3,

         年齡  工作  婚姻  學歷  聯絡方式  最後聯絡時間  聯絡次數  消費價格指數  消費信心指數  訂購
0      31.0   5   0   6     1   750.0     2  92.893   -46.2   0
1      55.0   7   1   6     0   154.0     8  94.465   -41.8   0
2      27.0   0   1   2     1   466.0     1  92.893   -46.2   3
3      35.0   0   1   1     1   222.0     1  93.075   -47.1   0
4      29.0  10   0   0     1    85.0     2  92.893   -46.2   3
...     ...  ..  ..  ..   ...     ...   ...     ...     ...  ..
40995  47.0   0   1   1     0    76.0     1  93.918   -42.7   1
40996  30.0   0   1   1     1   438.0     2  92.469   -33.6   2
40997  48.0  10   1   3     1   151.0     1  93.918   -42.7   2
40998  50.0   8   1   1     0   242.0     2  94.465   -41.8   2
40999  29.0   9   0   1     1    88.0     1  93.200   -42.0   2

[41000 rows x 10 columns]

## 6.3.3 One-Hot 編碼法

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

df = pd.read_csv('/content/drive/MyDrive/資料科學自學聖經/ch06/客戶聯絡狀況資料檔.csv')
label1 = LabelEncoder()
df['訂購'] = label1.fit_transform(df['訂購'])
onehot = OneHotEncoder(sparse=False)
arr = onehot.fit_transform(df[['訂購']])
arr

/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       ...,
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.]])

In [ ]:
df1 = pd.DataFrame(arr, columns=onehot.get_feature_names_out(['訂購']))
df1

       訂購_0  訂購_1  訂購_2  訂購_3
0       1.0   0.0   0.0   0.0
1       1.0   0.0   0.0   0.0
2       0.0   0.0   0.0   1.0
3       1.0   0.0   0.0   0.0
4       0.0   0.0   0.0   1.0
...     ...   ...   ...   ...
40995   0.0   1.0   0.0   0.0
40996   0.0   0.0   1.0   0.0
40997   0.0   0.0   1.0   0.0
40998   0.0   0.0   1.0   0.0
40999   0.0   0.0   1.0   0.0

[41000 rows x 4 columns]

In [ ]:
df.drop('訂購', axis=1, inplace=True)
df2 = pd.merge(df, df1, left_index=True, right_index=True)
df2

         年齡    工作  婚姻  學歷 聯絡方式  最後聯絡時間  ...  消費價格指數  消費信心指數  訂購_0  訂購_1  訂購_2  訂購_3
0      31.0   服務業  單身  高中   手機   750.0  ...  92.893   -46.2   1.0   0.0   0.0   0.0
1      55.0    無業  已婚  高中   市話   154.0  ...  94.465   -41.8   1.0   0.0   0.0   0.0
2      27.0    主管  已婚  專科   手機   466.0  ...  92.893   -46.2   0.0   0.0   0.0   1.0
3      35.0    主管  已婚  大學   手機   222.0  ...  93.075   -47.1   1.0   0.0   0.0   0.0
4      29.0    藍領  單身  國中   手機    85.0  ...  92.893   -46.2   0.0   0.0   0.0   1.0
...     ...   ...  ..  ..  ...     ...  ...     ...     ...   ...   ...   ...   ...
40995  47.0    主管  已婚  大學   市話    76.0  ...  93.918   -42.7   0.0   1.0   0.0   0.0
40996  30.0    主管  已婚  大學   手機   438.0  ...  92.469   -33.6   0.0   0.0   1.0   0.0
40997  48.0    藍領  已婚  小學   手機   151.0  ...  93.918   -42.7   0.0   0.0   1.0   0.0
40998  50.0    經理  已婚  大學   市話   242.0  ...  94.465   -41.8   0.0   0.0   1.0   0.0
40999  29.0  自僱人士  單身  大學   手機    88.0  ...  93.200   -42.0   0.0   0.0   1.0   0.0

[41000 rows x 13 columns]

# 6.5 使用Pandas 進行特徵選擇

## 6.5.2 皮爾森(Pearson) 相關係數

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/資料科學自學聖經/ch06/地區房價資料檔.csv')
df

,犯罪率,豪宅比,公設比,臨公園,NO濃度,房間數,屋齡,賣場距離,捷運距離,繳稅率,師生比,低收入比,房價
0,0.06211,40.0,2.50,0,0.429,6.490,44.4,8.7921,1,335,19.7,5.98,22.9
1,0.55778,0.0,43.78,0,0.624,6.335,98.2,2.1107,4,437,21.2,16.96,18.1
2,3.69311,0.0,36.20,0,0.713,6.376,88.4,2.5671,24,666,20.2,14.65,17.7
3,0.00906,90.0,5.94,0,0.400,7.088,20.8,7.3073,1,285,15.3,7.85,32.2
4,0.03537,34.0,12.18,0,0.433,6.590,40.4,5.4917,7,329,16.1,9.50,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,6.96215,0.0,36.20,0,0.700,5.713,97.0,1.9265,24,666,20.2,17.11,15.1
496,0.19133,22.0,11.72,0,0.431,5.605,70.2,7.9549,7,330,19.1,18.46,18.5
497,0.15038,0.0,51.30,0,0.581,5.856,97.0,1.9444,2,188,19.1,25.41,17.3
498,1.23247,0.0,16.28,0,0.538,6.142,91.7,3.9769,4,307,21.0,18.72,15.2
499,0.02187,60.0,5.86,0,0.401,6.800,9.9,6.2196,1,265,15.6,5.03,31.1

使用df.corr()相關係數分析

In [ ]:
featuresCorr = df.corr()
featuresCorr

,犯罪率,豪宅比,公設比,臨公園,NO濃度,房間數,屋齡,賣場距離,捷運距離,繳稅率,師生比,低收入比,房價
犯罪率,1.000000,-0.198184,0.403882,-0.056159,0.418423,-0.219135,0.350374,-0.378109,0.624691,0.581744,0.286694,0.453140,-0.386681
豪宅比,-0.198184,1.000000,-0.530497,-0.041534,-0.512648,0.315653,-0.567482,0.659829,-0.309246,-0.314601,-0.383729,-0.409970,0.363700
公設比,0.403882,-0.530497,1.000000,0.062161,0.760634,-0.391208,0.640189,-0.706669,0.592272,0.719742,0.373900,0.598912,-0.478614
臨公園,-0.056159,-0.041534,0.062161,1.000000,0.091162,0.094316,0.084713,-0.098918,-0.006554,-0.035305,-0.124759,-0.055581,0.179651
NO濃度,0.418423,-0.512648,0.760634,0.091162,1.000000,-0.302315,0.729869,-0.768413,0.607865,0.665860,0.176829,0.586526,-0.422592
房間數,-0.219135,0.315653,-0.391208,0.094316,-0.302315,1.000000,-0.232807,0.206958,-0.212325,-0.293659,-0.354519,-0.616665,0.696515
屋齡,0.350374,-0.567482,0.640189,0.084713,0.729869,-0.232807,1.000000,-0.748993,0.454357,0.505248,0.247797,0.596512,-0.364754
賣場距離,-0.378109,0.659829,-0.706669,-0.098918,-0.768413,0.206958,-0.748993,1.000000,-0.492819,-0.535611,-0.223204,-0.493881,0.247956
捷運距離,0.624691,-0.309246,0.592272,-0.006554,0.607865,-0.212325,0.454357,-0.492819,1.000000,0.909937,0.461487,0.484412,-0.377440
繳稅率,0.581744,-0.314601,0.719742,-0.035305,0.665860,-0.293659,0.505248,-0.535611,0.909937,1.000000,0.457685,0.540277,-0.464384
師生比,0.286694,-0.383729,0.373900,-0.124759,0.176829,-0.354519,0.247797,-0.223204,0.461487,0.457685,1.000000,0.365302,-0.504142
低收入比,0.453140,-0.409970,0.598912,-0.055581,0.586526,-0.616665,0.596512,-0.493881,0.484412,0.540277,0.365302,1.000000,-0.735179
房價,-0.386681,0.363700,-0.478614,0.179651,-0.422592,0.696515,-0.364754,0.247956,-0.377440,-0.464384,-0.504142,-0.735179,1.000000

In [ ]:
targetCorr = featuresCorr['房價']
targetCorr = targetCorr.drop('房價')
selectedFeatures = targetCorr[abs(targetCorr) > 0.4]
print("選擇特徵數： {} \n選擇特徵:\n{}".
      format(len(selectedFeatures), selectedFeatures))

選擇特徵數： 6
選擇特徵:
公設比    -0.478614
NO濃度   -0.422592
房間數     0.696515
繳稅率    -0.464384
師生比    -0.504142
低收入比   -0.735179
Name: 房價, dtype: float64

## 6.5.3 肯德爾(Kendall) 相關係數

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/資料科學自學聖經/ch06/地區房價資料檔.csv')
featuresCorr = df.corr('kendall')
featuresCorr

,犯罪率,豪宅比,公設比,臨公園,NO濃度,房間數,屋齡,賣場距離,捷運距離,繳稅率,師生比,低收入比,房價
犯罪率,1.000000,-0.460379,0.520270,0.034488,0.603402,-0.215448,0.500570,-0.539368,0.563798,0.547322,0.312456,0.455192,-0.404431
豪宅比,-0.460379,1.000000,-0.531968,-0.038050,-0.506646,0.278587,-0.426987,0.474682,-0.233688,-0.291470,-0.356645,-0.383358,0.339110
公設比,0.520270,-0.531968,1.000000,0.075058,0.610078,-0.290649,0.486181,-0.563801,0.354393,0.484720,0.330475,0.462395,-0.415849
臨公園,0.034488,-0.038050,0.075058,1.000000,0.055708,0.050547,0.053710,-0.065191,0.023653,-0.037600,-0.117967,-0.042643,0.117118
NO濃度,0.603402,-0.506646,0.610078,0.055708,1.000000,-0.216459,0.589950,-0.683932,0.436235,0.454030,0.273242,0.449213,-0.393477
房間數,-0.215448,0.278587,-0.290649,0.050547,-0.216459,1.000000,-0.183353,0.180823,-0.081648,-0.192688,-0.220673,-0.469532,0.484126
屋齡,0.500570,-0.426987,0.486181,0.053710,0.589950,-0.183353,1.000000,-0.610570,0.310727,0.362669,0.245115,0.481129,-0.384108
賣場距離,-0.539368,0.474682,-0.563801,-0.065191,-0.683932,0.180823,-0.610570,1.000000,-0.362540,-0.384072,-0.218994,-0.407415,0.311898
捷運距離,0.563798,-0.233688,0.354393,0.023653,0.436235,-0.081648,0.310727,-0.362540,1.000000,0.558429,0.252236,0.290080,-0.248842
繳稅率,0.547322,-0.291470,0.484720,-0.037600,0.454030,-0.192688,0.362669,-0.384072,0.558429,1.000000,0.287771,0.384324,-0.413675
師生比,0.312456,-0.356645,0.330475,-0.117967,0.273242,-0.220673,0.245115,-0.218994,0.252236,0.287771,1.000000,0.324036,-0.394713
低收入比,0.455192,-0.383358,0.462395,-0.042643,0.449213,-0.469532,0.481129,-0.407415,0.290080,0.384324,0.324036,1.000000,-0.666242
房價,-0.404431,0.339110,-0.415849,0.117118,-0.393477,0.484126,-0.384108,0.311898,-0.248842,-0.413675,-0.394713,-0.666242,1.000000

In [ ]:
targetCorr = featuresCorr['房價']
targetCorr = targetCorr.drop('房價')
selectedFeatures = targetCorr[abs(targetCorr) > 0.4]
print("選擇特徵數： {} \n選擇特徵:\n{}".
      format(len(selectedFeatures), selectedFeatures))

選擇特徵數： 5
選擇特徵:
犯罪率    -0.404431
公設比    -0.415849
房間數     0.484126
繳稅率    -0.413675
低收入比   -0.666242
Name: 房價, dtype: float64

## 6.5.4 斯皮爾曼(Spearman) 相關係數

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/資料科學自學聖經/ch06/地區房價資料檔.csv')
featuresCorr = df.corr('spearman')
featuresCorr

,犯罪率,豪宅比,公設比,臨公園,NO濃度,房間數,屋齡,賣場距離,捷運距離,繳稅率,師生比,低收入比,房價
犯罪率,1.000000,-0.569671,0.734762,0.042197,0.821355,-0.314092,0.706687,-0.744287,0.727641,0.731273,0.463736,0.634460,-0.558502
豪宅比,-0.569671,1.000000,-0.638285,-0.040454,-0.629175,0.361196,-0.541037,0.610052,-0.277894,-0.372251,-0.442181,-0.485576,0.436183
公設比,0.734762,-0.638285,1.000000,0.088866,0.788662,-0.413749,0.676212,-0.755432,0.456539,0.665352,0.427196,0.634162,-0.574273
臨公園,0.042197,-0.040454,0.088866,1.000000,0.067601,0.061829,0.065462,-0.079724,0.026749,-0.044428,-0.138738,-0.052163,0.142943
NO濃度,0.821355,-0.629175,0.788662,0.067601,1.000000,-0.310809,0.794984,-0.880266,0.587780,0.650474,0.384365,0.632562,-0.559078
房間數,-0.314092,0.361196,-0.413749,0.061829,-0.310809,1.000000,-0.272016,0.264631,-0.114412,-0.274610,-0.309278,-0.642547,0.635398
屋齡,0.706687,-0.541037,0.676212,0.065462,0.794984,-0.272016,1.000000,-0.802176,0.423539,0.528556,0.347743,0.652083,-0.542918
賣場距離,-0.744287,0.610052,-0.755432,-0.079724,-0.880266,0.264631,-0.802176,1.000000,-0.496508,-0.576185,-0.316907,-0.561163,0.443469
捷運距離,0.727641,-0.277894,0.456539,0.026749,0.587780,-0.114412,0.423539,-0.496508,1.000000,0.705047,0.318965,0.396541,-0.347042
繳稅率,0.731273,-0.372251,0.665352,-0.044428,0.650474,-0.274610,0.528556,-0.576185,0.705047,1.000000,0.453059,0.533801,-0.560836
師生比,0.463736,-0.442181,0.427196,-0.138738,0.384365,-0.309278,0.347743,-0.316907,0.318965,0.453059,1.000000,0.459183,-0.550923
低收入比,0.634460,-0.485576,0.634162,-0.052163,0.632562,-0.642547,0.652083,-0.561163,0.396541,0.533801,0.459183,1.000000,-0.850714
房價,-0.558502,0.436183,-0.574273,0.142943,-0.559078,0.635398,-0.542918,0.443469,-0.347042,-0.560836,-0.550923,-0.850714,1.000000

In [ ]:
targetCorr = featuresCorr['房價']
targetCorr = targetCorr.drop('房價')
selectedFeatures = targetCorr[abs(targetCorr) > 0.4]
print("選擇特徵數： {} \n選擇特徵:\n{}".
      format(len(selectedFeatures), selectedFeatures))

選擇特徵數： 10
選擇特徵:
犯罪率    -0.558502
豪宅比     0.436183
公設比    -0.574273
NO濃度   -0.559078
房間數     0.635398
屋齡     -0.542918
賣場距離    0.443469
繳稅率    -0.560836
師生比    -0.550923
低收入比   -0.850714
Name: 房價, dtype: float64

# 6.6 使用Scikit-Learn 進行特徵選擇

##載入Scikit-Learn 的卡方驗證模組

In [ ]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

##取出判斷特徵與目標特徵

1.建立判斷特徵

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/資料科學自學聖經/ch06/乳癌病歷資料檔.csv')
data = df.iloc[:, :-1]
data

     團塊厚度  細胞大小均勻性  細胞形狀均勻性  邊緣粘附  上皮細胞大小  裸核  淡染色質  正常核仁  有絲分裂
0       1        1        1     1       1   1     1     1     1
1       5        1        2     1       2   1     3     1     1
2       1        1        1     3       2   3     1     1     1
3       9        1        2     6       4  10     7     7     2
4       3        1        1     3       2   1     2     1     1
..    ...      ...      ...   ...     ...  ..   ...   ...   ...
675     3        1        1     1       2   1     2     1     1
676     3        1        1     1       2   4     1     1     1
677     1        1        1     1       2   1     3     1     1
678     7        8        7     2       4   8     3     8     2
679     1        1        1     1       2   1     3     1     1

[680 rows x 9 columns]

2.建立目標特徵

In [ ]:
target = df.iloc[:, -1]
target

0      1
1      1
2      1
3      2
4      1
      ..
675    1
676    1
677    1
678    2
679    1
Name: 種類, Length: 680, dtype: int64

##進行卡方驗證

In [ ]:
n = 5
chi = SelectKBest(chi2, k=n)
arrchi = chi.fit_transform(data, target)
arrchi

array([[1, 1, 1, 1, 1],
       [1, 2, 1, 1, 1],
       [1, 1, 3, 3, 1],
       ...,
       [1, 1, 1, 1, 1],
       [8, 7, 2, 8, 8],
       [1, 1, 1, 1, 1]])

##取得特徵驗證值

In [ ]:
score = chi.scores_
score

array([ 613.78738369, 1349.48325388, 1253.69419874,  962.80470656,
        487.94465088, 1616.63540027,  666.18098173, 1113.86253889,
        229.21688093])

##取得相關特徵名稱

In [ ]:
scoresort = np.argsort(score)
scoresort = np.flipud(scoresort)
scoresort

array([5, 1, 2, 7, 3, 6, 0, 4, 8])

使用迴圈由索引值取得特徵名稱並顯示

In [ ]:
col = df.columns
print('選擇的特徵：')
for i in range(n):
  print('{}：{}'.format(col[scoresort[i]], score[scoresort[i]]))

選擇的特徵：
裸核：1616.6354002736975
細胞大小均勻性：1349.4832538808205
細胞形狀均勻性：1253.6941987391392
正常核仁：1113.8625388898593
邊緣粘附：962.8047065573521